@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(37, 35, 35, 0.226);
    padding-left: 0.5em;
    width: 80%;
    padding: 0 4rem 0 0.5rem;
    margin: 0 4rem 0 0.5rem;
}

.btn-group {
    display: flex;
    flex-flow: row;
}

.btn-group .BnM-BTN {
    margin-right: 3rem;
}

.main-heading {
    font-size: 3rem;
    margin: 2.2rem;
    padding: 2.2rem;
    padding-left: 5rem;
    margin-top: 0;
    padding-top: 0;
}

.rest-title {
    font-size: 2rem;
    text-decoration: none;
}

.test {
    color: red;
}

.menusNumber, #main-heading, #items {
    font-family: 'Dancing Script', cursive;
}

.menusNumber {
    font-size: 3.5rem;
    margin-top: 2rem;
}

.menus {
    font-style: oblique;
    color: rgb(54, 69, 121);
    box-shadow: 10px 5px 30px 15px #1815153b;
    border: skyblue;
    border-radius: 3rem;
    border-width: 5rem;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
    z-index: 5;
    font-size: 2.2rem;
    text-shadow: seagreen;
}

.items {
    font-size: 2.2rem;
    font-family: 'Parisienne', cursive;
    text-decoration-style: wavy;
}

a {
    text-decoration: none;
}

.BnM-BTN {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#1765b8, #57d2e6);
}

.BnM-BTN:hover {
    transition: all ease-in-out 500ms 500ms;
    background: linear-gradient(90deg,#b82a17, #d85f5f);
    transition-timing-function: ease-in-out;
    transition-property: all;
}

#restaurant-image {
    width: auto;
    height: 30rem;
    display: grid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#restaurant-section {
    margin-top: 0rem;
    padding-top: 0rem;
    width: 100%;
}

h1 {
    padding: 1rem;
    display: grid;
    justify-content: center;
    border-bottom: double 3px black;
    text-align: center;
    grid-template-columns: auto;
}

article:hover {
    transition: all 5000ms ease;
    overflow: visible;
    height: auto;
}

#hiddenLinkName {
    display: none;
}

article {
    border: solid black 1px;
    width: 15rem;
    overflow: visible;
    height: auto;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    list-style-type: none;
    /* below */
     position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: cornflowerblue;
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.3rem;
    z-index: 4; 
}

article::before {
    border: solid 5px;
}

article header {
    height: 20rem;
    width: auto;
    font-weight: 1000;
    text-align: center;
    font-style: oblique;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

/* --------------MEDIA QUERIES------------- */

/* Media Screen */

@media screen and (min-width: 400px) {
  body {
      padding: 0;
      margin: 0;
  }
}

/* Large Screen */
@media screen and (min-width: 850px) {
  section {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 700px) {

}