<!DOCTYPE html>
<html>
<head>
    <meta>
    <link rel="stylesheet" href="style.css">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <h3>Jeffery Forbes</h3>
    <p><a href="../">Restaurants</a></p>
</body>
<footer>
        
</footer>
</html>