<h2>Edit</h2>

<a href="/" class="BnM-BTN">Home</a>
<br>
<form action="/restaurants/{{restaurant.id}}/edit" method="POST" autocomplete="on" aria-label="The form to edit the previously accessed restaurant">
    <label>Name:</label><br>
    <input type="text" name="name" placeholder="name" required aria-label="The new name of the editted restaurant"><br>

    <label>Image:</label><br>
    <input type="url" name="image" placeholder="https://idasidaiio.com" required aria-label="The image link of the editted restaurant"><br><br>

    <input type="submit" value="Submit">
</form>