<h2>Edit</h2>

<a href="/" id="BnM-BTN">Home</a>
<br>
<form action="/restaurants/{{restaurant.id}}/edit" method="POST" autocomplete="on">
    <label>Name:</label><br>
    <input type="text" name="name" placeholder="name" required><br>

    <label>Image:</label><br>
    <input type="url" name="image" placeholder="https://idasidaiio.com"  required><br><br>

    <input type="submit" value="Submit">
</form>